html {
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
}
p {
    color:red;
    /* background: linear-gradient(105deg, rgba(255,255,255,.2) 39%, rgba(51,56,57,1) 96%) center center / 400px 200px no-repeat, */
}

h1 {
    background-color: aquamarine;
    border: 10px solid rebeccapurple;
    border-radius: 1em;
    border-top-right-radius: 10% 30%;
}

div.box01 {
    width: 100px;
    height: 200px;
    overflow: scroll;
    background-color: aqua;
}

